*.config
SpeedMaster/SpeedMaster/Web.config
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/bfbe1f54-66d7-4175-93ce-8433c9ad5b06.vsidx
/SpeedMaster/SpeedMaster/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/0a1a0bb4-e960-49e2-a3fa-c6518db1956c.vsidx
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/bfbe1f54-66d7-4175-93ce-8433c9ad5b06.vsidx
/SpeedMaster/.vs/SpeedMaster/v17/DocumentLayout.json
/SpeedMaster/.vs/SpeedMaster/v17/.suo
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/bfbe1f54-66d7-4175-93ce-8433c9ad5b06.vsidx
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/bfbe1f54-66d7-4175-93ce-8433c9ad5b06.vsidx
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/58054d46-113f-4bce-b0a7-3183c4df6562.vsidx
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/bfbe1f54-66d7-4175-93ce-8433c9ad5b06.vsidx
SpeedMaster\SpeedMaster\obj\
