*.config
SpeedMaster/SpeedMaster/Web.config
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/890c2a0f-b59f-4f9d-a8c4-3a4e64d574d4.vsidx
/SpeedMaster/.vs/SpeedMaster/FileContentIndex/89c49d58-c3a0-43c9-9676-959e29b7c23b.vsidx
